#This is a simple HTML template for a Flask web application. 
#It defines a basic HTML document structure with a title and a heading that says "Hello, World!". 
#This template will be rendered by the render_template function in the Flask application's home() function, which is called when the root URL path ("/") is requested.

<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
</head>
<body>
    <h1>
        Hello, World!
    </h1>
</body>
</html>
